body {
	padding: 0px;
	max-width: unset;
	font-family: "-apple-system", "Helvetica Neue", "Yu Gothic", YuGothic, Verdana,
		Meiryo, "M+ 1p", sans-serif;
}

.content {
	margin: auto;
	max-width: 38em;
	padding: 13px;
}

.video-wrapper {
	width: 100%;
	height: 100vh;
}

.bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 100%;
	top: 38%;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(calc(1vw + 1vh));
}

.banner-text {
	letter-spacing: 0.3em;
	padding-top: 0.1em;
	line-height: 1.4em;
	font-size: 12vw;
	color: #ffffff;
	text-shadow: 0 0 50px black;
}

.banner-sub {
	font-size: 3vw;
	padding-bottom: 0.7em;
}

.bottom-gradient {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #120c0e 100%);
}

.scroll-arrow {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.arrow-icon {
	width: 100%;
	animation: blink 2s infinite;
}

@keyframes blink {

	0%,
	100% {
		opacity: 0.5;
	}

	50% {
		opacity: 0.1;
	}
}